<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>About</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
</head>
<body>
<header th:insert="blocks/header :: header"></header>

<h1 class="text-center">Hi!</h1>

<div class="container mb-5 mt-5">
    <p>
        My name is <a href="https://github.com/VitasSalvantes">VitasSalvantes</a> and I am learning web development with
        Spring Boot. <strong>All my projects are for
        educational purposes only.</strong> Of course, in return I get something: new knowledge and pleasure of
        programming!
    </p>
</div>

<footer th:insert="blocks/footer :: footer"></footer>
</body>
</html>