<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Atbash cipher</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
</head>
<body>
<header th:insert="blocks/header :: header"></header>

<h1 th:text="${title}" class="text-center"></h1>

<div class="container mt-5 mb-5">
    <p>The Atbash cipher is a particular type of monoalphabetic cipher formed by taking the alphabet (or abjad,
        syllabary, etc.) and mapping it to its reverse, so that the first letter becomes the last letter, the second
        letter becomes the second to last letter, and so on. For example, the Latin alphabet would work like this:</p>

    <table class="table">
        <tbody>
        <tr>
            <th>Plain</th>
            <td>A</td>
            <td>B</td>
            <td>C</td>
            <td>D</td>
            <td>E</td>
            <td>F</td>
            <td>G</td>
            <td>H</td>
            <td>I</td>
            <td>J</td>
            <td>K</td>
            <td>L</td>
            <td>M</td>
            <td>N</td>
            <td>O</td>
            <td>P</td>
            <td>Q</td>
            <td>R</td>
            <td>S</td>
            <td>T</td>
            <td>U</td>
            <td>V</td>
            <td>W</td>
            <td>X</td>
            <td>Y</td>
            <td>Z</td>
        </tr>

        <tr>
            <th>Cipher</th>
            <td> Z</td>
            <td>Y</td>
            <td>X</td>
            <td>W</td>
            <td>V</td>
            <td>U</td>
            <td>T</td>
            <td>S</td>
            <td>R</td>
            <td>Q</td>
            <td>P</td>
            <td>O</td>
            <td>N</td>
            <td>M</td>
            <td>L</td>
            <td>K</td>
            <td>J</td>
            <td>I</td>
            <td>H</td>
            <td>G</td>
            <td>F</td>
            <td>E</td>
            <td>D</td>
            <td>C</td>
            <td>B</td>
            <td>A</td>
        </tr>
        </tbody>
    </table>
    <br>
    <a href="https://github.com/VitasSalvantes/SimplePrograms#AtbashCipher">See more</a>
</div>

<div class="container mt-5 mb-5">
    <h2>Try it</h2><br>
    <form method="post">
        <textarea name="message" class="md-textarea form-control" rows="3"
                  placeholder="Write your message here"></textarea>
        <br>
        <div class="text-center">
            <button type="submit" class="btn btn-outline-primary btn-lg">Go</button>
        </div>
    </form>
</div>

<footer th:insert="blocks/footer :: footer"></footer>
</body>
</html>