<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title th:text="${title}"></title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
</head>
<body>
<header th:insert="blocks/header :: header"></header>

<h1 th:text="${name}"></h1>

<div th:utext="${description}"></div>

<div class="text-center  mt-5 mb-5">
    <a href="/edit_cipher" class="btn btn-primary btn-lg" role="button">Edit</a>
</div>

<div class="container mt-5 mb-5">
    <h1>Try</h1>
    <form method="post">
        <select name="action" class="form-control">
            <option>Encryption</option>
            <option>Decryption</option>
        </select><br>
        <input type="text" name="key" placeholder="Write your key here" class="form-control"><br>
        <textarea name="message" class="md-textarea form-control" rows="3"
                  placeholder="Write your message here"></textarea>
        <br>
        <div class="text-center">
            <button type="submit" class="btn btn-outline-primary btn-lg">Go</button>
        </div>
    </form>
</div>

<footer th:insert="blocks/footer :: footer"></footer>
</body>
</html>