<div th:fragment="header">
    <div class="d-flex justify-content-center py-3">
        <ul class="nav nav-pills">
            <li class="nav-item"><a href="/" class="nav-link">Home</a></li>
            <li class="nav-item"><a href="/atbash" class="nav-link">Atbash cipher</a></li>
            <li class="nav-item"><a href="/caesar" class="nav-link">Caesar cipher</a></li>
            <li class="nav-item"><a href="/code-word" class="nav-link">Code word cipher</a></li>
            <li class="nav-item"><a href="/about" class="nav-link">About</a></li>
        </ul>
    </div>
</div>